<footer class="center">
  <div class="measure">
    <small>
      &copy; nikhil paladugu 2020 <br>
       {% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

{% for path in page_paths %}
    
    {% assign item = site.pages | where: "path", path | first %}
    
    {% if item.title and page.title == item.title %}
        <a class="nav-active" href="{{ item.url | relative_url }}">{{ item.title }}</a>
    {% elsif item.title %}
        <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
    {% endif %}

    
{% endfor %}
      <span>&#47;</span> <a href="https://instagram.com/nikhilpaladugu">instagram</a> <span>&#47;</span> <a href="https://twitter.com/nikhilcpaladugu">twitter</a>
      <span>&#47;</span> <a href="mailto:nikhilpaladugu129@gmail.com?Subject=Hello" target="_top">email</a>  
      
    </small>
    <br>
    {% include fortune.html %}
    
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
<script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script>
